<div class="container-fluid main-content">
  <dvi class="row contract">
    <div class="title">
      All Professional
    </div>
  </dvi>
  <div class="row">
    <%= render 'layouts/sidebar_professional' %>
    <%= render 'layouts/professional', collection: @users %>
  </div>
</div>
