<div class="row">
  <h4> Recruiting Posts </h4>
</div>

<%= render 'layouts/posts', collection: @posts %>

<% if current_user.recruiter? %>
<p class="navbar-text"><%= link_to "new post", new_post_path %></p>
<% end %>
