<div class="container-fluid main-content">
  <dvi class="row contract">
    <div class="title">
      All Recruiting Posts
    </div>
  </dvi>
  <div class="row">
    <%= render 'layouts/sidebar_posts' %>
    <%= render 'layouts/posts', collection: @posts %>
  </div>
</div>
