<div class="container main-content">
  <div class="row contract">
    <div class="title">
      <p>My Recruiting Posts</p>
    </div>
  </div>

  <div id="lists">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th class="col-md-4">Title</th>
          <th width="col-md-2">Deadline</th>
          <th class="col-md-2">Bookmark User</th>
          <th class="col-md-2">Applied User</th>
          <th class="col-md-1">Status</th>
          <th class="col-md-1"></th>
        </tr>
        <%= render 'layouts/myposts', collection: @posts %>

      </table>
    </div>
  </div>
  <div class="row">
    <%= link_to 'back', posts_path %>
  </div>
</div>
