<div class="container main-content">
  <div class="main-box">

    <dvi class="row contract">
      <div class="title">
        New Post
      </div>
    </dvi>

    <%= render 'form', post: @post %>

    <div class="row">
      <div class="form-group col-md-6">
        <p><%= link_to 'back', posts_path %></p>
      </div>
    </div>

  </div>
</div>
