html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F5F5F5;
  margin-bottom: 60px;
  color: #333;
  overflow-y: scroll;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.34;
}

.container {
  width: auto;
  padding: 0 15px;
  background-color: none;
}

.container:after {
  clear: both;
}

.main-content {
  width: 960px;
  padding-top: 10px;
}

a,
a:hover {
  text-decoration: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.danger {
  color: red;
}

ul {
  list-style: none;
  padding-left: 10px;
}

img {
  width: 60px;
  height: 60px;
}
//login
.message-text a,
.message-text a:visited,
.foreget-password a:hover{
  text-decoration: none;
  color: #7a7a7a;
}


//navbar
.navbar {
  background-color: #78BAF1;
  background-size: cover;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
   background-color: transparent;
}

.navbar-text {
  margin-right: 1px;
  margin-left: 1px;
}

.navbar-default .navbar-brand,
.navbar-default:hover .navbar-brand:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  border-color: transparent;
}

.navbar-default {
  border-color: transparent;
}

.navbar-text a,
.navbar-text a:visited,
.navbar-text a:hover {
  font-size: 12px;
  margin: 11px 0 11px 0;
  padding: 0 11px 0 11px;
  color: #fff;
  text-decoration: none;
}

.dropdown {
  background-color: transparent;
}

.dropdown-link{
  display: block;
  text-align: right;
}

.dropdown-text a {
  margin-left: auto;
}


#navbarDropdownMenuLink {
  background-color: transparent;
  color: #fff;
  font-size: 12px;
}

//sidebar
.user-search-left {
  height: auto;
  margin: 0 30px 0 0;
}

.search_form {
  border-bottom: solid 1px #ccc;
  padding: 13px 0 13px;
}

.form-control {
  width: 80%;
}

//posts
.posts {
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
  padding-inline-start: 10px
}

.post {
  background-color: white;
  min-height: 100px;
  padding: 10px 0px;
  padding-inline-start: 10px;
  margin-bottom: 10px;
  border: none;
}

.post-data,
.post-edit,
.post-detail,
.post-img {
  margin-bottom: 10px;
}

.post a {
  display: inline-block;
  float: left;
  text-decoration: none;
  color: #1d2129;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  word-break: break-all;
  width: 100%;
  margin: 0;
  float: left;
}

.post .detail {
  margin: 0 0 5px 0;
}

.post .detail div {
  float: left;
  list-style: none;
  font-size: 13px;
}

.detail-text {
  word-break: break-all;
  width: 100%;
  margin: 0;
}

.post .days {
  color: #757575;
  padding: 2px 10px 2px;
  border: 1px solid #757575;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.post .days {
  line-height: 16px;
}

.job-category {
  color: #757575;
}

.job-category {
  font-size: 13px;
  line-height: 20px;
}

.job-category p {
  font-size: 12px;
}

.job-category .mdl-chip {
  background-color: #ECEFF1;
  line-height: 24px;
  height: 24px;
  font-size: 11px;
  color: #787674;
}

.job-category .mdl-chip__text {
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
}

.profile-img img {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

.post-img img {
  width: 100px;
  height: 100px;
}

.work-icon {
  width: 60px;
  float: left;
  margin: 0 18px 0 0;
}

.work-text {
  color: #555;
  float: left;
  overflow: hidden;
}


.create-date {
  height: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.img-fluid img {
  width: 350px;
  height: 350px;
}

//content

.title-box {
  margin-bottom: 20px;
}

h2.page-title {
  width: 960px;
  font-size: 24px;
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  border: none;
}

p.page-description {
  width: 960px;
  font-size: 14px;
}


//table
thead {
  background-color: #E9ECF0;
}

//form
.form-group {
  margin-bottom: 0px;
}

.show-form {
  background-color: #F2F2F2;
}

.input-form {
  background-color: #FFFFFF;
}

.keyword-form {
  background-color: #FFFFFF;
  float: left;
  margin-right: 10px;
}

//notice
.notice-area {
  font-size: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
}
  .notice {
    background-color: lightgreen;
  }

  .alert {
    background-color: orange;
    padding: 0px;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
  }


//footer
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #78BAF1;
  color: #fff;
  padding-top: 10px;
}

.common-footer__nav--list .menu-item {
  display: inline-block;
  border-left: 1px solid #CCC;
  line-height: 1em;
}

.menu-item {
  padding-right: 20px;
  padding-left: 20px;
}

.footer-item {
  margin-bottom: 0px;
}

.copyright {
  margin-bottom: 0px;
  padding-left: 10px;
}

//error
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  /*error_explanation style*/
  ul li {
    font-size: 12px;
    list-style: square;
    list-style: none;
  }

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }
}

//clearfix
.clearfix:after {
  content: "";
  /* 擬似要素を実体化 */
  clear: both;
  /* floatを解除する */
  display: block;
  /* ブロック要素にする */
}


//sign-in

.jumbotron {
  background-image: image-url('login02.jpg');
  background-size: cover;
  position: relative;
  height: 1200px;
  margin-bottom: 0px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.65);
  width: 400px;
  padding: 25px 40px;
  margin-top: 30px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
  margin: 5px 0px;
}

.btn-primary {
  border-radius: 2px;
  background-color: #23a9f6;
  border-color: #23a9f6;
  margin: 10px 0px;
}

.divider-form {
  border: 1px solid #7a7a7a;
  margin: 2px -40px 2px;
}

label {
  text-transform: uppercase;
  color: #7a7a7a;
  font-size: 15px;
}

strong {
  color: #95a5bb;
}

.sign-in {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
  background: none;
}

.btn-sign-in,
.btn-sign-in:hover {
  height: 30px;
  background-color: #7a7a7a;
  border-color: #7a7a7a;
}

.jumbotron p {
  font-size: 15px;
  font-weight: bold;
  color: #7a7a7a;
}

.form-control:focus {
  box-shadow: none;
}

//users#show

.title-box {
  font-size: 23px;
  display: block;
  margin: 0 0 40px 0;
}

#user_view .sub {
  float: left;
  margin-right: 56px;
  background-color: #fff;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 10px;
  min-height: 300px;
}

#user_view .profile-img,
#view_evaluation .profile-img {
  position: absolute;
  top: 10px;
  left: 60px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

#user_view .side-btn {
  height: 36px;
  width: 200px;
  line-height: 34px;
  margin-bottom: 5px;
  margin-top: 100px;
}

#user_view .sub .skill {
  border-bottom: solid 1px #ddd;
  padding: 0px 0px 15px 0px;
}

#user_view .sub .skill dt {
  font-size: 16px;
  margin: 0px 0px 5px 0px;
}

#user_view .sub .timelog {
  list-style-type: none;
  border-bottom: solid 1px #ddd;
  padding: 0px 0px 15px 0px;
  line-height: 20px;
}

#user_view .main {
  background-color: #fff;
  min-height: 300px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.profile-title {
  margin-bottom: 10px;
}

.profile-description {
  word-break: break-all;
  width: 100%;
  margin: 0;
}

//bookmarks

div.title {
  color: #404040;
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 6px 0 6px 16px;
}

#lists {
  margin-top: 2rem;
}

table {
  max-width: 100%;
  background-color: #fff;
}

tr {
  border-bottom: 2px solid #666;
}

.table>tbody>tr>td {
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  border-right: 1px solid #f3f3f3;
  height: 54px;
  vertical-align: middle;
}

//post#show

h2.page-title {
  width: auto;
  font-size: 26px;
  display: block;
  margin: 0 0 30px 0;
  padding: 0.3em 0 0.3em 0.8em;
  border-left: 5px solid #33bbf3;
  display: inline-block;
}

.status {
  float: right;
}

.detail-image {
  width: 300px;
  height: 300px;
}

.page-title,
.job-name {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.status-open {
  color: #43a047;
}

.status-close {
  color: #000;
}


.job-info-bar,
.open-term {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 15px 0 15px;
  min-width: 143px;
}

.main2 {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.main2 {
  background-color: #fff;
  padding: 15px 20px;
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.button_placer2 {
  position: absolute;
  right: 30px;
  top: 10px;
  display: flex !important;
  justify-content: flex-end !important;
  border: none !important;
}

.small_title {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid #32bcf3;
  margin-top: 25px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#client_information>div:first-of-type {
  padding: 0 10px 10px;
}

#client_information>div:first-of-type>div:nth-of-type(1) {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#client_information>div:first-of-type>div:nth-of-type(1)>.profile-img {
  display: inline;
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#client_information>div:first-of-type>div:nth-of-type(1)>div:nth-of-type(1) {
  margin: 0 20px;
  display: inline;
}

.button_placer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none !important;
  margin: 30px 24px 30px 0px;
}

div.mdl-show-div2 {
  background: #fff;
}

#applications .mdl-data-table {
  border: none;
}

#applications>table {
  width: 100%;
}

.mdl-data-table {
  white-space: normal;
}

.mdl-data-table {
  position: relative;
  border: 1px solid rgba(0, 0, 0, .12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  background-color: #fff;
}

tbody>tr:nth-child(2n+1) {
  background-color: #fff;
}

.mdl-data-table tbody tr {
  position: relative;
  height: 48px;
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: background-color;
}

#applications>table>tbody>tr>td:nth-of-type(1) {
  width: 62%;
}

.mdl-data-table td:first-of-type,
.mdl-data-table th:first-of-type {
  width: 20px;
}

.mdl-data-table td:first-of-type,
.mdl-data-table th:first-of-type {
  padding-left: 35px;
  font-size: 15px;
  font-weight: 500;
  width: 30%;
}

#applications>table>tbody>tr>td:nth-of-type(2) {
  width: 25%;
  font-size: 14px;
}

.mdl-data-table td:last-of-type,
.mdl-data-table th:last-of-type {
  padding-right: 24px;
}

//comment
#comments_area {
  max-height: 400px;
  overflow: scroll;
}

.error_message{
  background-color: lightpink;
}
.alert-warning{
  color: red
}

.comment {
  border: 1px solid #aaa;
  border-radius: 10px;
  background: #fff;
  padding: 5px;
  margin-bottom: 5px;
}

//table

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

//message view
.message-view {
  border: 1px solid #aaa;
  border-radius: 10px;
  background: #effeff;
}

.participants {
  border: 1px solid #0088e7;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px;
  display: inline-block;
}

.message-message {
  overflow: auto;
  width: 100%;
  min-height: 450px;
  max-height: 450px;
  background-color: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.message_left_box {
  margin-top: 0.5em;
  margin-left: 0.5em;
  overflow: hidden;
}

.message_right_box {
  margin-top: 0.5em;
  margin-right: 0.5em;
  overflow: hidden;
}

._message_left {
  width: 55%;
  float: left;
  clear: right;
  margin-bottom: 0.5em;
  border-radius: 10px;
  background-color: #fff;
  padding: 0.6em 0.6em;
  min-height: 3em;
  font-size: 0.92em;
}

._message_right {
  width: 55%;
  float: right;
  clear: left;
  margin-bottom: 0.5em;
  border-radius: 10px;
  background-color: #dcedc8;
  padding: 0.6em 0.6em;
  min-height: 3em;
}

.message_left_box>div:first-child {
  font-size: 0.8em;
  color: #0088e7;
  padding: 0.23em 0 0.4em 0.3em;
}

.message_right_box>div:first-child {
  text-align: right;
  font-size: 0.8em;
  color: #2db53d;
  padding: 0.26em 0.3em 0.4em 0;
}

.read-status {
  text-align: right;
  font-size: 0.8em;
  color: #2db53d;
  padding: 0.26em 0.3em 0.4em 0;
  display: inline-block;
  float: right;
}


#message-input {
  margin-top: 10px;
}

#message-input>form textarea {
  width: 100%;
  resize: vertical;
  border: 1px solid #33bbf3;
  border-radius: 5px;
}

textarea {
  margin-bottom: 5px;
}

textarea.form-control {
  height: auto;
}

//myprofile
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-horizontal .control-label {
  text-align: right;
}

.form-horizontal .control-label {
  padding-top: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.col-sm-10 {
  width: 83.33333333333334%;
}

.input[type="file"] {
  display: block;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#freelancer-intro .icon-setting {
  margin: 10px 0 0 0;
  width: 200px;
  height: 200px;
}

textarea.form-control {
  height: auto;
}


//user#edit
.form-horizontal .control-label {
  text-align: right;
}

.form-horizontal .control-label {
  padding-top: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.col-sm-2 {
  width: 16.666666666666664%;
}

#freelancer-intro .submit-btn {
  width: 100px;
  height: 30px;
  border: none;
}
